<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <title>Document</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>

    <body>
        <div class="tip1"><i>* Use your <bold>real</bold> email address: you'll need it later</i></div>
        <div class="tip2"><i>* A password must contain 8+ symbols</i></div>
        
        <form action="/reg" method="post">
            <input class="email" type="email" name="lgn" placeholder="Email">
            <input class="password" minlength="8" name="pswrd" placeholder="Password">
            <input class="submit" type="submit" value="Register">
        </form>
        
        <div class="bg"></div>
    </body>

</html>