<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura&display=swap" rel="stylesheet">
</head>

<body>
    <div class="nav-bar-left">
        <!-- Левая строка навигации. Перед блоками этой секции будет стоять буква n -->
        <div class="n-l-bar">
            <img class="n-img" src="favorites.png">
            <div class="n-text">Favorite</div>
        </div>
        <div class="n-l-bar">
            <img class="n-img" src="wallet.png">
            <div class="n-text">Balance</div>
        </div>
        <div class="n-l-bar">
            <img class="n-img" src="catalog.png">
            <div class="n-text">Catalog</div>
        </div>
        <div class="n-l-bar">
            <img class="n-img" src="search.png">
            <div class="n-text">Search</div>
        </div>
        <div class="n-line"></div>
        <div class="n-l-bar">
            <img class="n-img2" src="contacts.png">
            <div class="n-text2">Conditions</div>
        </div>
        <div class="n-l-bar">
            <img class="n-img" src="info.png">
            <div class="n-text">Info</div>
        </div>
    </div>
    <header class="nav-bar-top">
        <!-- Верхняя строка навигации -->
        <div class="quicksearch">
            <input class="n-search" placeholder="Search...">
            <input class="n-submit" type="image" src="search.png" value="">
        </div>
    </header>
    <main>
        <section class="response banner-main-top">
            <!--Рекламный баннер на главной странице -->
            <div class="banner1">
                <img class="img1" src="Rectangle 3.png">
            </div>
            <div class="text-block">
                <div class="bannertext">Tom Clansy's: The Division <br> for [#] only!
                </div>
                <button class="ordernow">Order Now</button>
            </div>
        </section>
        <section class="about">
            <!--Информация о проекте-->
            <div class="abo-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates enim ipsam eos,
                quos, necessitatibus reprehenderit dolorum numquam quam illo doloribus, fugit quod totam veniam facilis
                iure delectus saepe expedita magni. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa
                sapiente aut, ipsum ab autem odio similique optio quod iusto sed, inventore quia hic! Dicta laboriosam
                rem dolor aliquam quam. Tenetur.</div>
        </section>
        <section class="game-bars">
            <!-- Строки с популярными/акционными/и т.д. и т.п. играми -->
            <section class="game-bar-1">
                <!-- Строка 1 -->
                <div class="toptext">Popular</div>
                <div class="plate">
                    <img class="p-img" src="Rectangle 4.png">
                    <div class="p-text">Lorem Ispum</div>
                    <div class="p-price">999#</div>
                    <div class="p-disc">999#</div>
                </div>
                <div class="plate">
                    <img class="p-img" src="Rectangle 4.png">
                    <div class="p-text">Lorem Ispum</div>
                    <div class="p-price">999#</div>
                    <div class="p-disc">999#</div>
                </div>
                <div class="plate">
                    <img class="p-img" src="Rectangle 4.png">
                    <div class="p-text">Lorem Ispum</div>
                    <div class="p-price">999#</div>
                    <div class="p-disc">999#</div>
                </div>
                <div class="plate">
                    <img class="p-img" src="Rectangle 4.png">
                    <div class="p-text">Lorem Ispum</div>
                    <div class="p-price">999#</div>
                    <div class="p-disc">999#</div>
                </div>
            </section>
            <section class="game-bar-2">
                <!-- Строка 2 -->
                <div class="toptext">On Discount</div>
                <div class="plate">
                    <img class="p-img" src="Rectangle 4.png">
                    <div class="p-text">Lorem Ispum</div>
                    <div class="p-price">999#</div>
                    <div class="p-disc">999#</div>
                </div>
                <div class="plate">
                    <img class="p-img" src="Rectangle 4.png">
                    <div class="p-text">Lorem Ispum</div>
                    <div class="p-price">999#</div>
                    <div class="p-disc">999#</div>
                </div>
                <div class="plate">
                    <img class="p-img" src="Rectangle 4.png">
                    <div class="p-text">Lorem Ispum</div>
                    <div class="p-price">999#</div>
                    <div class="p-disc">999#</div>
                </div>
                <div class="plate">
                    <img class="p-img" src="Rectangle 4.png">
                    <div class="p-text">Lorem Ispum</div>
                    <div class="p-price">999#</div>
                    <div class="p-disc">999#</div>
                </div>
            </section>
            <section class="game-bar-3">
                <!-- Строка 3 -->
                <div class="toptext">Top 10</div>
                <div class="plate">
                    <img class="p-img" src="Rectangle 4.png">
                    <div class="p-text">Lorem Ispum</div>
                    <div class="p-price">999#</div>
                    <div class="p-disc">999#</div>
                </div>
                <div class="plate">
                    <img class="p-img" src="Rectangle 4.png">
                    <div class="p-text">Lorem Ispum</div>
                    <div class="p-price">999#</div>
                    <div class="p-disc">999#</div>
                </div>
                <div class="plate">
                    <img class="p-img" src="Rectangle 4.png">
                    <div class="p-text">Lorem Ispum</div>
                    <div class="p-price">999#</div>
                    <div class="p-disc">999#</div>
                </div>
                <div class="plate">
                    <img class="p-img" src="Rectangle 4.png">
                    <div class="p-text">Lorem Ispum</div>
                    <div class="p-price">999#</div>
                    <div class="p-disc">999#</div>
                </div>
            </section>
        </section>
    </main>
</body>

</html>