<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jura&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="nav-bar-left"> <!-- Левая строка навигации. Перед блоками этой секции будет стоять буква n -->
            <div class="n-l-bar">
                <img class="n-img" src="favorites.png">
                <div class="n-text">Favorite</div>
            </div>
            <div class="n-l-bar">
                <img class="n-img" src="wallet.png">
                <div class="n-text">Balance</div>
            </div>
            <div class="n-l-bar">
                <img class="n-img" src="catalog.png">
                <div class="n-text">Catalog</div>
            </div>
            <div class="n-l-bar">
                <img class="n-img" src="search.png">
                <div class="n-text">Search</div>
            </div>
            <div class="n-line"></div>
            <div class="n-l-bar">
                <img class="n-img2" src="contacts.png">
                <div class="n-text2">Conditions</div>
            </div>
            <div class="n-l-bar">
                <img class="n-img" src="info.png">
                <div class="n-text">Info</div>
            </div>
        </div>
        <header class="nav-bar-top"> <!-- Верхняя строка навигации -->
            <div class="quicksearch">
                <input class="n-search" placeholder="Search...">
                <input class="n-submit" type="image" src="search.png" value="">
            </div>
        </header>
        <div class="background">
            <div class="bg2"></div>
            <div class="bg3"></div>
            <div class="baltext1">Your balance</div>
            <div class="baltext2">635</div>
            <div class="baltext22">###</div>
            <div class="balbutton">
                <input class="baltextbutton" type="submit"  value="Payments history">
            </div>
            <div class="baltext3">Replenish balance</div>
            <div class="baltext4">Via bank payments</div>
            <img src="visa.png" class="balimg1">
            <img src="Mir_Pay_logo.png" class="balimg2">
            <img src="Без названия.png" class="balimg3">
            <img src="Без названия (2).png" class="balimg4">
            <div class="baltext5">Via PayPal</div>
        </div>
    </body>
</html>